<div id="main-content" class="site-main-content">
    <section class="site-content-area">

        <div class="uni-banner-default uni-background-1">
            <div class="container">
                <!-- Page title -->
                <div class="page-title">
                    <div class="page-title-inner">
                        <h1>departments</h1>
                    </div>
                </div>
                <!-- End page title -->
                <!-- Breadcrumbs -->
                <ul class="breadcrumbs">
                    <li><a href="#">home</a></li>
                    <li><a href="#">departments</a></li>
                </ul>
                <!-- End breadcrumbs -->
            </div>
        </div>

        @*@{
            Html.RenderPartial("~/Views/Shared/_Department.cshtml");
        }*@

    </section>
</div>
