@model List<Department>
@{
    ViewBag.Title = "Index";
}

<div id="main-content" class="site-main-content">
    <section class="site-content-area">

        <div class="uni-banner-default uni-background-1">
            <div class="container">
                <!-- Page title -->
                <div class="page-title">
                    <div class="page-title-inner">
                        <h1>Gallery</h1>
                    </div>
                </div>
                <!-- End page title -->
                <!-- Breadcrumbs -->
                <ul class="breadcrumbs">
                    <li><a href="#">home</a></li>
                    <li><a href="#">page</a></li>
                    <li><a href="#">Gallery</a></li>
                </ul>
                <!-- End breadcrumbs -->
            </div>
        </div>


        <div class="uni-gallery-body">
            <div class="container">
                <div class="uni-shortcode-tabs-default">
                    <div class="uni-shortcode-tab-2">
                        <div class="tabbable-panel">
                            <div class="tabbable-line">
                                <ul class="nav nav-tabs ">
                                    @for (int i = 0; i < Model.Count(); i++)
                                    {
                                        <li class="@(i==0?"active":"")">
                                            <a href="#tab_default_@i" data-toggle="tab" aria-expanded="false">
                                                @Model[i].Title
                                            </a>
                                        </li>
                                    }


                                </ul>
                                <div class="tab-content">
                                    @for (int i = 0; i < Model.Count(); i++)
                                    {
                                    <div class="tab-pane @(i==0?"active":"")" id="tab_default_@i">
                                        <div class="row" id="lightgallery1">
                                            @foreach (var item in Model[i].Galleries)
                                            {
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/@item.Photo">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/@item.Photo" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>

