
@{
    ViewBag.Title = "Index";
}

    <div id="main-content" class="site-main-content">
        <section class="site-content-area">

            <div class="uni-banner-default uni-background-1">
                <div class="container">
                    <!-- Page title -->
                    <div class="page-title">
                        <div class="page-title-inner">
                            <h1>Gallery</h1>
                        </div>
                    </div>
                    <!-- End page title -->
                    <!-- Breadcrumbs -->
                    <ul class="breadcrumbs">
                        <li><a href="#">home</a></li>
                        <li><a href="#">page</a></li>
                        <li><a href="#">Gallery</a></li>
                    </ul>
                    <!-- End breadcrumbs -->
                </div>
            </div>


            <div class="uni-gallery-body">
                <div class="container">
                    <div class="uni-shortcode-tabs-default">
                        <div class="uni-shortcode-tab-2">
                            <div class="tabbable-panel">
                                <div class="tabbable-line">
                                    <ul class="nav nav-tabs ">
                                        <li class="active">
                                            <a href="#tab_default_1" data-toggle="tab" aria-expanded="false">
                                                cardiology
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="#tab_default_2" data-toggle="tab" aria-expanded="true">
                                                neurology
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="#tab_default_3" data-toggle="tab" aria-expanded="false">
                                                orthopedics
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="#tab_default_4" data-toggle="tab" aria-expanded="false">
                                                cancer department
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="#tab_default_5" data-toggle="tab" aria-expanded="false">
                                                ophthalmology
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="#tab_default_6" data-toggle="tab" aria-expanded="false">
                                                respiratory
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab_default_1">
                                            <div class="row" id="lightgallery1">
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/1.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/1.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/2.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/2.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/3.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/3.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/4.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/4.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/5.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/5.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/6.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/6.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/7.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/7.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/8.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/8.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/9.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/9.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab_default_2">
                                            <div class="row" id="lightgallery2">
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/2.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/2.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/1.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/1.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/4.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/4.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/3.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/3.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/6.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/6.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/5.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/5.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/8.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/8.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/7.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/7.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/9.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/9.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab_default_3">
                                            <div class="row" id="lightgallery3">
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/9.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/9.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/8.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/8.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/7.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/7.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/6.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/6.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/5.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/5.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/4.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/4.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/3.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/3.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/2.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/2.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/1.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/1.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab_default_4">
                                            <div class="row" id="lightgallery4">
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/8.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/8.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/9.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/9.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/6.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/6.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/7.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/7.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/4.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/4.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/5.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/5.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/2.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/2.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/3.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/3.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/1.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/1.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab_default_5">
                                            <div class="row" id="lightgallery5">
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/7.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/7.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/4.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/4.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/5.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/5.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/8.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/8.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/2.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/2.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/3.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/3.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/9.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/9.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/6.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/6.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/1.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/1.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab_default_6">
                                            <div class="row" id="lightgallery6">
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/5.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/5.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/8.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/8.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/2.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/2.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/3.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/3.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/9.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/9.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/7.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/7.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/4.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/4.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/6.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/6.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6" data-src="~/Public/images/gallery/1.jpg">
                                                    <div class="item-img">
                                                        <img src="~/Public/images/gallery/1.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>

