@model List<Department>

<div class="uni-departments-body">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="uni-departments-default">
                        <div class="item-icons">
                            <a href="#"><img src="~/Public/images/icons_box/icon_1/@item.Icon" alt="" class="img-responsive"></a>
                        </div>
                        <div class="item-caption">
                            <h4><a href="@Url.Action("single","departments",new {id=item.Id })">@item.Title</a></h4>
                            <p>
                                @item.Content
                            </p>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>