@model List<Department>
<div class="col-md-4">
    <div class="uni-services-department">
        <div class="uni-services-title">
            <h3>Departments</h3>
            <div class="uni-line"></div>
        </div>
        <div class="uni-services-department-content">
            <div class="accordion-default">
                <div class="accordion-icons-img">
                    <div class="accordion">
                        @foreach (var item in Model)
                        {
                            <div class="accordion-item">
                                <div class="accordion-toggle active">
                                    <div class="accordion-icosn">
                                        <img src="~/Public/images/icons_box/icon_1/@item.Icon" alt="">
                                    </div>
                                    <h4>@item.Title</h4>
                                </div>
                                <div class="accordion-content" style="display: block">
                                    <p>
                                        @item.Content
                                    </p>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
