<div class="uni-our-services-2 uni-background-4">
    <div class="container">
        <div class="uni-services-title">
            <h3>Our services</h3>
            <div class="uni-underline"></div>
        </div>

        <div class="uni-our-service-2-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="tab-nav">
                        <ul class="nav-pills nav-stacked">
                            <li class="active"><a href="#tab_a" data-toggle="pill">Cardiothoracic Surgery</a></li>
                            <li><a href="#tab_b" data-toggle="pill">Corneal transplant surgery</a></li>
                            <li><a href="#tab_c" data-toggle="pill">General health check</a></li>
                            <li><a href="#tab_d" data-toggle="pill">Diagnosis & treatment cancer</a></li>
                            <li><a href="#tab_e" data-toggle="pill">Treatment of dermatitis</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_a">
                            <div class="uni-our-service-2-content-default">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="item-img">
                                            <img src="~/Public/images/services/img.jpg" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="item-caption">
                                            <div class="item-caption-title">
                                                <h3>Cardiothoracic Surgery</h3>
                                                <div class="uni-line"></div>
                                            </div>
                                            <p>
                                                Pellentesque habitant morbi tristique senectus et netus
                                                et malesuada fames ac turpis egestas. Vestibulum tortor
                                                quam, feugiat vitae, ultricies eget, tempor sit amet,
                                                ante. Donec eu libero sit amet quam egestas semper.
                                                Aenean ultricies mi vitae est. Mauris placerat eleifend
                                                leo.
                                            </p>
                                            <ul>
                                                <li>
                                                    Lorem ipsum dolor sit amet, consectetuer
                                                </li>
                                                <li>
                                                    Aliquam tincidunt mauris eu risus
                                                </li>
                                                <li>
                                                    Vestibulum auctor dapibus neque
                                                </li>
                                                <li>
                                                    Morbi in sem quis dui placerat ornare
                                                </li>
                                                <li>
                                                    Donec eu libero sit amet quam egestas semper
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_b">
                            <div class="uni-our-service-2-content-default">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="item-img">
                                            <img src="~/Public/images/services/img1.jpg" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="item-caption">
                                            <div class="item-caption-title">
                                                <h3>Corneal transplant surgery</h3>
                                                <div class="uni-line"></div>
                                            </div>
                                            <p>
                                                Pellentesque habitant morbi tristique senectus et netus
                                                et malesuada fames ac turpis egestas. Vestibulum tortor
                                                quam, feugiat vitae, ultricies eget, tempor sit amet,
                                                ante. Donec eu libero sit amet quam egestas semper.
                                                Aenean ultricies mi vitae est. Mauris placerat eleifend
                                                leo.
                                            </p>
                                            <ul>
                                                <li>
                                                    Lorem ipsum dolor sit amet, consectetuer
                                                </li>
                                                <li>
                                                    Aliquam tincidunt mauris eu risus
                                                </li>
                                                <li>
                                                    Vestibulum auctor dapibus neque
                                                </li>
                                                <li>
                                                    Morbi in sem quis dui placerat ornare
                                                </li>
                                                <li>
                                                    Donec eu libero sit amet quam egestas semper
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_c">
                            <div class="uni-our-service-2-content-default">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="item-img">
                                            <img src="~/Public/images/services/img2.jpg" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="item-caption">
                                            <div class="item-caption-title">
                                                <h3>General health check</h3>
                                                <div class="uni-line"></div>
                                            </div>
                                            <p>
                                                Pellentesque habitant morbi tristique senectus et netus
                                                et malesuada fames ac turpis egestas. Vestibulum tortor
                                                quam, feugiat vitae, ultricies eget, tempor sit amet,
                                                ante. Donec eu libero sit amet quam egestas semper.
                                                Aenean ultricies mi vitae est. Mauris placerat eleifend
                                                leo.
                                            </p>
                                            <ul>
                                                <li>
                                                    Lorem ipsum dolor sit amet, consectetuer
                                                </li>
                                                <li>
                                                    Aliquam tincidunt mauris eu risus
                                                </li>
                                                <li>
                                                    Vestibulum auctor dapibus neque
                                                </li>
                                                <li>
                                                    Morbi in sem quis dui placerat ornare
                                                </li>
                                                <li>
                                                    Donec eu libero sit amet quam egestas semper
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_d">
                            <div class="uni-our-service-2-content-default">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="item-img">
                                            <img src="~/Public/images/services/img3.jpg" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="item-caption">
                                            <div class="item-caption-title">
                                                <h3>Diagnosis & treatment cancer</h3>
                                                <div class="uni-line"></div>
                                            </div>
                                            <p>
                                                Pellentesque habitant morbi tristique senectus et netus
                                                et malesuada fames ac turpis egestas. Vestibulum tortor
                                                quam, feugiat vitae, ultricies eget, tempor sit amet,
                                                ante. Donec eu libero sit amet quam egestas semper.
                                                Aenean ultricies mi vitae est. Mauris placerat eleifend
                                                leo.
                                            </p>
                                            <ul>
                                                <li>
                                                    Lorem ipsum dolor sit amet, consectetuer
                                                </li>
                                                <li>
                                                    Aliquam tincidunt mauris eu risus
                                                </li>
                                                <li>
                                                    Vestibulum auctor dapibus neque
                                                </li>
                                                <li>
                                                    Morbi in sem quis dui placerat ornare
                                                </li>
                                                <li>
                                                    Donec eu libero sit amet quam egestas semper
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_e">
                            <div class="uni-our-service-2-content-default">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="item-img">
                                            <img src="~/Public/images/services/img3.jpg" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="item-caption">
                                            <div class="item-caption-title">
                                                <h3>Treatment of dermatitis</h3>
                                                <div class="uni-line"></div>
                                            </div>
                                            <p>
                                                Pellentesque habitant morbi tristique senectus et netus
                                                et malesuada fames ac turpis egestas. Vestibulum tortor
                                                quam, feugiat vitae, ultricies eget, tempor sit amet,
                                                ante. Donec eu libero sit amet quam egestas semper.
                                                Aenean ultricies mi vitae est. Mauris placerat eleifend
                                                leo.
                                            </p>
                                            <ul>
                                                <li>
                                                    Lorem ipsum dolor sit amet, consectetuer
                                                </li>
                                                <li>
                                                    Aliquam tincidunt mauris eu risus
                                                </li>
                                                <li>
                                                    Vestibulum auctor dapibus neque
                                                </li>
                                                <li>
                                                    Morbi in sem quis dui placerat ornare
                                                </li>
                                                <li>
                                                    Donec eu libero sit amet quam egestas semper
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
