@model List<Service>
    <div class="uni-shortcode-icons-box-5">
        <div class="container">
            <div class="row">
                @foreach (var service in Model)
                {
                    <div class="col-md-4">
                        <div class="uni-shortcode-icons-box-5-default">
                            <div class="item-icons-title">
                                <div class="col-md-4 uni-clear-padding">
                                    <div class="item-icons">
                                        <img src="~/Public/images/icons_box/icon_4/@service.Departments.Icon" alt="">
                                    </div>
                                </div>
                                <div class="col-md-8 uni-clear-padding">
                                    <div class="item-title">
                                        <h4>@service.Title</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="item-caption">
                                <p>
                                    @Html.Raw(service.MiniBody)
                                </p>
                                <a href="#" class="readmore">Read more</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

