  <!--TESTIMONIALS-->
<div class="col-md-4">
    <div class="uni-services-testimonials">
        <div class="uni-services-title">
            <h3>testimonials</h3>
            <div class="uni-line"></div>
        </div>
        <div class="uni-services-testimonials-content">
            <div class="uni-owl-one-item owl-carousel owl-theme">
                <div class="item">
                    <div class="uni-shortcode-testimonials-default">
                        <div class="item-info">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="item-info-img">
                                        <img src="~/Public/images/testimonial/img.png" alt="" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="item-info-title">
                                        <h4>amanda smith</h4>
                                        <p class="testimonial_subtitle">myopia patients</p>
                                    </div>
                                    <div class="uni-divider"></div>
                                </div>
                            </div>
                        </div>
                        <div class="item-caption">
                            <p>
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget.
                            </p>
                        </div>
                    </div>

                    <div class="uni-shortcode-testimonials-default">
                        <div class="item-info">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="item-info-img">
                                        <img src="~/Public/images/testimonial/img1.png" alt="" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="item-info-title">
                                        <h4>amanda smith</h4>
                                        <p class="testimonial_subtitle">myopia patients</p>
                                    </div>
                                    <div class="uni-divider"></div>
                                </div>
                            </div>
                        </div>
                        <div class="item-caption">
                            <p>
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="item">
                    <div class="uni-shortcode-testimonials-default">
                        <div class="item-info">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="item-info-img">
                                        <img src="~/Public/images/testimonial/img.png" alt="" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="item-info-title">
                                        <h4>amanda smith</h4>
                                        <p class="testimonial_subtitle">myopia patients</p>
                                    </div>
                                    <div class="uni-divider"></div>
                                </div>
                            </div>
                        </div>
                        <div class="item-caption">
                            <p>
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget.
                            </p>
                        </div>
                    </div>

                    <div class="uni-shortcode-testimonials-default">
                        <div class="item-info">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="item-info-img">
                                        <img src="~/Public/images/testimonial/img1.png" alt="" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="item-info-title">
                                        <h4>amanda smith</h4>
                                        <p class="testimonial_subtitle">myopia patients</p>
                                    </div>
                                    <div class="uni-divider"></div>
                                </div>
                            </div>
                        </div>
                        <div class="item-caption">
                            <p>
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
